# Go CI

name: Go CI

on:
  push:
    branches: [ main, dev, feature/** ]
  pull_request:
    branches: [ main, dev ]

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.14.x, 1.15.x, 1.16.x]

    runs-on: ubuntu-latest
    steps:
    - name: Install Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
    - name: Prepare environment
      run: |
        go version
        go get -u golang.org/x/lint/golint
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Run vet & lint
      run: |
        go vet .
        golint .
    - name: Run tests
      run: |
        go test